body {
    padding: 0;
    margin: 0;
    background-color: royalblue;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.rocket-body {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top:0px;
    width: 300px;
    height: 80%;
}

.rocket-body * {
    position: absolute;
    content: "";
}

.tip{
    width: 130px;
    height: 220px;
    position: absolute;
    margin: auto;
    background-color: #FFFFFF;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 60% 60% 50% 50% / 100% 100% 0% 0%;
}

.circle{
    width: 60px;
    height: 60px;
    margin: auto;
    background-color: #CCCCCC;
    border-radius: 100px;
    border: 10px solid #A7A7A7;
    top: 180px;
    left: 118px;
}

.detail {
    width: 10px;
    height: 90px;
    background-color: #00BCF2;
    margin: auto;
    top: 290px;
    left: 142px;
    border-radius: 10px;
    z-index: 1;
}

.body-bottom {
    width: 130px;
    height: 50px;
    background-color: #FFFFFF;
    top: 336px;
    left: 85px;
}

.left {
    width: 40px;
    height: 50px;
    background-color: #00BCF2;
    top: 336px;
    left: 45px;
    border-bottom-left-radius: 10px;
    z-index: -1;
}

.right {
    width: 40px;
    height: 50px;
    background-color: #00BCF2;
    top: 336px;
    left: 215px;
    border-radius: 0px 0px 10px 0px;
}

.triangle-left {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right:40px solid transparent;
    border-top: 40px solid #00BCF2;
    transform: rotate(-45deg);
    top: 302px;
    left: 39px;
    border-radius: 30px;
    z-index: -1;
}

.triangle-right {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right:40px solid transparent;
    border-top: 40px solid #00BCF2;
    transform: rotate(45deg);
    top: 302px;
    left: 181px;
    z-index: -1;
    border-radius: 30px;
}

.trapeze {
    border-top: 50px solid #4A5459;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    height: 0;
    width: 130px;
    top: 386px;
    left: 85px;
}

/* .fire {
    position: absolute;
    bottom: 0;
    width: 30%;
    padding-bottom: 30%;
    background: #ff6234;
    border-radius: 0 75% 75% 75%;
    transform: rotate(0deg);
    animation: fire 2s linear infinite alternate;
    animation-delay: 1s;
} */

/* https://freefrontend.com/css-fire-animation/ */
/*     
    .back {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding-bottom: 100%;
      background: #ff6234;
      border-radius: 0 75% 75% 75%;
      transform: rotate(45deg);
      animation: fire 2s linear infinite alternate;
      animation-delay: 1s;
    }
    
    .medium {
      position: absolute;
      bottom: 5%;
      left: 10%;
      width: 80%;
      padding-bottom: 80%;
      background: #ff7d17;
      border-radius: 0 75% 75% 75%;
      transform: rotate(45deg);
      animation: fire 2s linear infinite alternate;
      animation-delay: .5s;
    }
     */
