body {
    padding: 0;
    margin: 0;
    background-color: #0E216D;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.rocket-body {
    content: "";
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: -100px;
    width: 300px;
    height: 500px;
    transform: translatey(0px);
	animation: mov 3s ease-in-out infinite;
}

.rocket-body * {
    position: absolute;
    content: "";
}

.tip{
    width: 130px;
    height: 220px;
    position: absolute;
    margin: auto;
    background-color: #FFFFFF;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 60% 60% 50% 50% / 100% 100% 0% 0%;
}

.circle{
    width: 60px;
    height: 60px;
    margin: auto;
    background-color: #CCCCCC;
    border-radius: 100px;
    border: 10px solid #A7A7A7;
    top: 180px;
    left: 119px;
}

.detail {
    width: 10px;
    height: 90px;
    background-color: #00BCF2;
    margin: auto;
    top: 290px;
    left: 143px;
    border-radius: 10px;
    z-index: 1;
}

.body-bottom {
    width: 130px;
    height: 50px;
    background-color: #FFFFFF;
    top: 336px;
    left: 85px;
}

.left {
    width: 40px;
    height: 50px;
    background-color: #00BCF2;
    top: 336px;
    left: 45px;
    border-bottom-left-radius: 10px;
    z-index: -1;
}

.right {
    width: 40px;
    height: 50px;
    background-color: #00BCF2;
    top: 336px;
    left: 215px;
    border-radius: 0px 0px 10px 0px;
}

.triangle-left {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right:40px solid transparent;
    border-top: 40px solid #00BCF2;
    transform: rotate(-45deg);
    top: 302px;
    left: 39px;
    border-radius: 30px;
    z-index: -1;
}

.triangle-right {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right:40px solid transparent;
    border-top: 40px solid #00BCF2;
    transform: rotate(45deg);
    top: 302px;
    left: 181px;
    z-index: -1;
    border-radius: 30px;
}

.trapeze {
    border-top: 50px solid #4A5459;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    height: 0;
    width: 130px;
    top: 386px;
    left: 85px;
}

.fire {
    margin: auto;
    border-radius: 100px;
    top: 400px;
    left: 114px;
    bottom: -15px;
    height: 73px;
    width: 73px;
    border-radius: 0% 60% 70% 60%;
    border-top-left-radius: 0;
    background-color: orange;
    transform: rotate(223deg);
    z-index: -2;
    animation: fire 3s ease-in-out infinite;
}

.fire :nth-child(1) {
    width: 40px;
    height: 40px;
    bottom: 10px;
    right: 11px;
    border-radius: 0% 60% 70% 60%;
    background-color: #FFC225;
}


@keyframes mov {
	0% {
		transform: translatey(0px);
        transform: rotate(20deg);
	}
	50% {
		transform: translatey(0px);
        top: -400px;
        left: 300px;
        transform: rotate(40deg);
	}
	100% {
		transform: translatey(0px);
        top: -1500px;
        left: 900px;
        transform: rotate(40deg);
	}
}


@keyframes fire {
	0% {
        border: none;
	}
    50% {
		box-shadow: -10px -10px 10px #ffc125b7;
	}
} 

