body {
    padding: 0;
    margin: 0;  
    background-color: #0f092b;  
}

*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.rocket-body {
    content: "";
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: -100px;
    width: 300px;
    height: 500px;
    transform: translatey(0px);
	animation: mov 3s ease-in-out infinite;
}

.rocket-body * {
    position: absolute;
    content: "";
}

.tip{
    width: 130px;
    height: 220px;
    position: absolute;
    margin: auto;
    background-color: #FFFFFF;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 60% 60% 50% 50% / 100% 100% 0% 0%;
}

.circle{
    width: 60px;
    height: 60px;
    margin: auto;
    background-color: #CCCCCC;
    border-radius: 100px;
    border: 10px solid #A7A7A7;
    top: 180px;
    left: 119px;
}

.detail {
    width: 10px;
    height: 90px;
    background-color: #00BCF2;
    margin: auto;
    top: 290px;
    left: 143px;
    border-radius: 10px;
    z-index: 1;
}

.body-bottom {
    width: 130px;
    height: 50px;
    background-color: #FFFFFF;
    top: 336px;
    left: 85px;
}

.left {
    width: 40px;
    height: 50px;
    background-color: #00BCF2;
    top: 336px;
    left: 45px;
    border-bottom-left-radius: 10px;
    z-index: 0;
}

.right {
    width: 40px;
    height: 50px;
    background-color: #00BCF2;
    top: 336px;
    left: 215px;
    border-radius: 0px 0px 10px 0px;
}

.triangle-left {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right:40px solid transparent;
    border-top: 40px solid #00BCF2;
    transform: rotate(-45deg);
    top: 302px;
    left: 39px;
    border-radius: 30px;
    z-index: -1;
}

.triangle-right {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right:40px solid transparent;
    border-top: 40px solid #00BCF2;
    transform: rotate(45deg);
    top: 302px;
    left: 181px;
    z-index: -1;
    border-radius: 30px;
}

.trapeze {
    border-top: 50px solid #4A5459;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    height: 0;
    width: 130px;
    top: 386px;
    left: 85px;
}

.fire {
    margin: auto;
    border-radius: 100px;
    top: 400px;
    left: 114px;
    bottom: -15px;
    height: 73px;
    width: 73px;
    border-radius: 0% 60% 70% 60%;
    border-top-left-radius: 0;
    background-color: orange;
    transform: rotate(223deg);
    z-index: -2;
    animation: fire 3s ease-in-out infinite;
}

.fire :nth-child(1) {
    width: 40px;
    height: 40px;
    bottom: 10px;
    right: 11px;
    border-radius: 0% 60% 70% 60%;
    background-color: #FFC225;
}

.planet-yellow {
    position: absolute;
    content: "";
    margin: auto;
    width: 250px;
    height: 250px;
    bottom: 200px;
    left: -40px;
    border-radius: 100%;
    background: linear-gradient(90deg, #FED611 8.66%, #FF8E50 62.35%, #FF27AA 120.09%);    animation: translateBackground 30s infinite linear; 
    box-shadow: 5px 5px 10px #41046449;
    animation: planet-float 5s ease-in-out infinite;
}

.planet-yellow > div {
    position: absolute;
    content: "";
    margin: auto;
    border-radius: 100%;
}

.planet-yellow :nth-child(1) { 
    width: 30px;
    height: 30px;
    left: 150px;
    top: 180px;
    background: linear-gradient(249.72deg, #FB3D2F -35.9%, rgba(251, 61, 47, 0) 76.38%);
}

.planet-yellow :nth-child(2) {
    width: 50px;
    height: 50px;
    left: 175px;
    top: 70px;
    background: linear-gradient(148.86deg, rgba(249, 37, 85, 0.64) 25.15%, rgba(233, 66, 144, 0) 88.97%);
}

.planet-yellow :nth-child(3) {
    width: 60px;
    height: 60px;
    left: 20px;
    top: 140px;
    background: linear-gradient(180deg, #F66917 0%, rgba(246, 105, 23, 0) 100%);
}

.planet-yellow :nth-child(4) {
    width: 10px;
    height: 10px;
    left: 60px;
    top: 40px;
    background: linear-gradient(180deg, #EA7528 0%, rgba(242, 121, 48, 0) 100%);
}

.planet-yellow :nth-child(5) {
    width: 25px;
    height: 25px;
    left: 90px;
    top: 50px;
    background: linear-gradient(180deg, #EB7829 0%, rgba(235, 120, 41, 0.817708) 18.23%, rgba(235, 120, 41, 0) 100%);
}

.planet-purple {
    position: absolute;
    content: "";
    margin: auto;
    width: 200px;
    height: 200px;
    bottom: 100px;
    right: 40px;
    border-radius: 100%;
    background: linear-gradient(57.96deg, #A661FC 24.03%, #4962FD 76.32%, #4760FB 90.15%);    animation: translateBackground 30s infinite linear; 
    box-shadow: 5px 5px 10px #41046449;
    animation: planet-float 5s ease-in-out infinite;
}

.planet-saturn {
    position: absolute;
    content: "";
    margin: auto;
    width: 100px;
    height: 100px;
    top: 30px;
    left: 1000px;
    border-radius: 100%;
    background: linear-gradient(258.59deg, #FF7369 27.51%, #FFB831 86.08%);
    box-shadow: 5px 5px 10px #41046449;
}

.planet-saturn > div {
    border-radius: 50%;
    transform: rotate(-15deg);
    position: absolute;
    content: "";
    width: 180px;
    height: 40px;
    right: -40px;
    bottom: 30px;
    background-color: transparent;
    animation: float-saturn-ring 5s ease-in-out infinite;

}

.planet-saturn :nth-child(1) {
    border: 10px solid #7BDAB3;
    z-index: -1;
}

.planet-saturn :nth-child(2) {
    border-bottom: 10px solid #7BDAB3;
    z-index: 10;
}


.star > div {
    position: absolute;
    content: "";
    margin: auto;
    border-radius: 100%;  
	animation: mov-star 1s ease-in-out infinite; 
    z-index: -1;
}

.star :nth-child(1) {
    width: 10px;
    height: 10px;
    left: 400px;
    top: 100px;
    background: #FFFFFF;
}

.star :nth-child(2) {
    width: 15px;
    height: 15px;
    left: 400px;
    bottom: 50px;
    background: #ffa600;
}

.star :nth-child(3) {
    width: 15px;
    height: 15px;
    left: 600px;
    bottom: 200px;
    background: #ff0095;
}

.star :nth-child(4) {
    width: 20px;
    height: 20px;
    left: 40px;
    top: 50px;
    background: #7BDAB3;
}

.star :nth-child(5) {
    width: 15px;
    height: 15px;
    left: 600px;
    bottom: 400px;
    background: #FFFFFF;
}

.star :nth-child(6) {
    width: 10px;
    height: 10px;
    left: 200px;
    bottom: 170px;
    background: #A661FC;
}

.star :nth-child(7) {
    width: 20px;
    height: 20px;
    right: 100px;
    bottom: 170px;
    background: #FED611;
}

.star :nth-child(8) {
    width: 20px;
    height: 20px;
    right: 100px;
    top: 10px;
    background: #A661FC;
    z-index: -1;
}

.star :nth-child(9) {
    width: 10px;
    height: 10px;
    right: 100px;
    bottom: 50px;
    background: #7BDAB3;
}


@keyframes mov {
	0% {
		transform: translatey(0px);
        transform: rotate(20deg);
	}
	50% {
		transform: translatey(0px);
        top: -400px;
        left: 300px;
        transform: rotate(40deg);
	}
	100% {
		transform: translatey(0px);
        top: -1500px;
        left: 900px;
        transform: rotate(40deg);
	}
}

@keyframes fire {
	0% {
        border: none;
	}
    50% {
		box-shadow: -10px -10px 10px #ffc125b7;
	}
} 

@keyframes mov-star {
    0% {
        opacity: 0.90;
        box-shadow: 0px 0px 10px whitesmoke;
	}
	50% {
       
        box-shadow: 0px 0px 30px whitesmoke;
	}
}

@keyframes planet-float{
	0%,100%{
		transform:translatey(0)
	}
	50%{
		transform:translatey(-20px)
	}
}

@keyframes float-saturn-ring{
	0%,100%{
		transform:translatex(0)
	}
	50%{
		transform:translatex(-4px);
        transform: rotate(-20deg);
	}
}